.mainContainer {
  /* border: 1px solid red; */
  /* I have to delete during merge time  */
  /* margin-top: 7.5rem; */
  height: auto;
  /* width: 100%; */
  display: flex;
}
.left_side_bar {
  /* border: 1px solid red; */
  height: 100rem;
  width: 18%;
}
.right_side_bar {
  /* border: 1px solid red; */
  height: max-content;
  width: 82%;
}
.home_frangnace_div {
  border-bottom: 1px solid black;
  /* border: 1px solid red; */
  height: 6rem;
  width: 100%;
  font-family: TradeGothicLTW05-BoldNo\.2, Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.home_frangnace_div > span {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #333;
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
  /* border: 1px solid red; */
}
/* Pagination Css ----------------------------------------------------*/
.pagination {
  display: flex;
  gap: 0.438rem;
  color: #333;
  text-align: center;
  list-style-type: none;
  margin: auto;
  position: absolute;
  bottom: 0.625rem;
  right: 1.25rem;
}
.pagination_li {
  height: 1.563rem;
  width: 1.563rem;
  border-radius: 50%;
  cursor: pointer;
  list-style-type: none;
  background-color: #f2f2f2;
}
/* filter_sort_contaier ------------------------------*/
.filter_sort_contaier {
  border-bottom: 3px solid #f2f2f2;
  height: 8rem;
  width: 100%;
  display: flex;
  margin: auto;
  font-family: Trade Gothic W01 Bold_2, Arial, sans-serif;
  /* border: 1px solid red; */
}
.filter_div {
  /* border: 1px solid red; */
  height: 3.438rem;
  width: 78%;
  margin-top: 3%;
  background-color: #f2f2f2;
  display: flex;
  gap: 0.625rem;
}
.sort_div {
  height: 3.438rem;
  width: 20%;
  /* border: 1px solid red; */
  margin-top: 3%;
}
.filter_h1 {
  font-size: 1.063rem;
  font-weight: bold;
  padding: 0.938rem;
}
.filter_select {
  width: 14.375rem;
  font-size: 0.9099rem;
  font-weight: 400;
  border-bottom: 3px solid #333;
  background-color: #f2f2f2;
  letter-spacing: 0.5px;
  outline: none;
}
.sort_select {
  font-size: 0.75rem;
  font-weight: 900;
  border-bottom: 3px solid #333;
  height: 3.438rem;
  letter-spacing: 0.5px;
  margin-left: 0.625rem;
  width: 12.5rem;
  color: #666;
  outline: none;
}
/* .........product_container */
.product_container {
  /* border: 1px solid red; */
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.625;
  justify-items: center;
  margin-top: 5rem;
}
/* left Side bar Css */
.top_offer_section {
  /* border: 1px solid red; */
  height: max-content;
  width: 90%;
  margin: auto;
  margin-top: 3rem;
}
.offer_header {
  font-weight: bold;
  font-size: 0.75rem;
  color: #333;
  font-family: Trade Gothic W01 Bold_2, Arial, sans-serif;
  line-height: 1rem;
}
.offer_link_section {
  /* border: 1px solid red; */
  display: block;
  padding-top: 8px;
}
