.mainContainer {
  /* border: 1px solid red; */
  /* I have to delete during merge time  */
  margin-top: 7.5rem;
  height: 20rem;
  /* width: 100%; */
  display: flex;
}
.left_side_bar {
  border: 1px solid red;
  height: 100rem;
  width: 20%;
}
.right_side_bar {
  /* border: 1px solid red; */
  height: 100rem;
  width: 80%;
}
.home_frangnace_div {
  border-bottom: 1px solid black;
  /* border: 1px solid red; */
  height: 6rem;
  width: 100%;
  font-family: TradeGothicLTW05-BoldNo\.2, Arial, sans-serif;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}
.home_frangnace_div > span {
  font-weight: bolder;
  font-size: 1.5rem;
  color: #333;
  position: absolute;
  bottom: 0.625rem;
  left: 0.625rem;
}
/* Pagination Css ----------------------------------------------------*/
.pagination {
  display: flex;
  gap: 0.438rem;
  color: #333;
  text-align: center;
  list-style-type: none;
  margin: auto;
  position: absolute;
  bottom: 0.625rem;
  right: 1.25rem;
}
.pagination_li {
  height: 1.563rem;
  width: 1.563rem;
  border-radius: 50%;
  cursor: pointer;
  list-style-type: none;
  background-color: #f2f2f2;
}
/* filter_sort_contaier ------------------------------*/
.filter_sort_contaier {
  border-bottom: 3px solid #f2f2f2;
  height: 8rem;
  width: 100%;
  display: flex;
  margin: auto;
}
.filter_div{
  border: 1px solid red;
  height: 65px;
  width: 80%;
 margin-top: 3%;
 background-color: #F2F2F2;
}
.sort_div{
  height: 65px;
  width: 20%;
  border: 1px solid red;
  margin-top: 3%;
}
