@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@700&family=Lato:wght@300&family=Montserrat:ital,wght@1,100&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Roboto:wght@300&display=swap');

.facebook {
display: flex;
    align-items: center;
    gap: 10px;
    border: 0.5px solid black;
    width: auto;
    border-radius: 8px;
    justify-content: center;
    cursor: pointer;
    height: auto;
    padding: 8px 8px;
    color: rgb(112, 174, 230);
}

.google {
    display: flex;
        align-items: center;
        gap: 10px;
        border: 0.5px solid black;
        width: auto;
        height: 45px;
        padding: 8px 8px;
        border-radius: 8px;
        justify-content: center;
        cursor: pointer;
        color: rgb(255, 25, 32);
}

.facebook_icon {
    width: 20px;
    height: 25px;
}

.google_icon {
    width: 20px;
    height: 25px;

}

.other_options {
    display: flex;
    gap: 5%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.sign_in_below {
    margin: 20px 0px;
    font-size: 15px;
    color: #000;
    margin-left: 0;
}

.Signin_title {
    color: #333333;
    text-align: center;
    margin-bottom: 40px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
    letter-spacing: 0.8px;

}
.create_text{
    color:#000000;
    font-size: 15px;
    margin: 0 0 16px;
}
@media all and (min-width:50px) and (max-width:720px) {
.Signup_components{
    margin-top: 40px;
}
}